body {
    font-family: "Tomorrow", sans-serif;
    color: #dddddd;
    background-color: #121212;
    margin: 0px;
    text-align: center;
    overflow-y: scroll;
}

h1 {
    font-size: 150px;
    background-color: #333333;
    line-height: 180px;
    margin: 0px;
    padding-bottom: 20px;
}

h2 {
    font-size: 75px;
}

h3 {
    font-size: 15px;
    text-align: left;
}

h4 {
    font-size: 70px;
    text-align: left;
    margin: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table.songTable {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    background-color: #222222;
    border-style: solid;
    border-color: #000000;
    box-shadow: 2px 2px 10px 2px #000000;

}

p {
    font-size: 30px;
}

td {
    font-size: 30px;
    vertical-align: top;
    border-top: 1px solid #444444;
}

td.onCollectionPage {
    padding-top: 30px;
}


td#songDesc1.onSongPage,
td#songDesc2.onSongPage {
    border-top: none;
    padding: 12px;
}

.download {
    font-size: 30px;
    line-height: 10px;
}

.downloadLink {
    line-height: 35px;
}

.downloadLinks {
    font-size: 20px;
    line-height: 10px;
}

.otherLinks {
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    font-size: 30px;
}

button {
    background-color: #252525;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: "Tomorrow", sans-serif;
    color: #bbbbbb;
    cursor: pointer;
}

.mainSite {
    font-size: 36px;
}

a:link,
a:visited {
    color: #00aaff;
}

#whoops {
    text-align: left;
}

#email {
    font-size: 12px;
}

#copyright {
    padding-top: 15px;
    padding-bottom: 3px;
}

#games {
    text-align: center;
}

#random {
    text-align: center;
}

#monkey {
    padding-left: 30px;
}

#songDesc1 {
    padding-right: 15px;
}

#cover {
    margin-bottom: 0px;
}

iframe {
    margin: 0px;
    padding: 0px;
}

button:hover {
    background-color: #171717;
}

#content {
    text-align: justify;
    /* margin-left: 300px;
    margin-right: 300px; */
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 1030px) {
    h1 {
        font-size: 14vw;
        line-height: 22vw;
    }

    h2 {
        font-size: 10vw;
        line-height: 10vw;
    }

    h4 {
        font-size: 10vw;
        line-height: 10vw;
    }

    p {
        font-size: 4vw;
    }

    button {
        font-size: 5vw;
        padding: 1vw;
    }

    .gamesgif {
        width: 98%
    }

    #content {
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
    }
}